<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>STUDENT MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
                       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
                       crossorigin="anonymous">
</head>
<body>
    <div  class="container my-2">
        <h1 align="center">STUDENT DETAILS</h1>
        <a th:href="@{/showNewStudentForm}" class="btn  btn-info btn-sm mb-3" >  Add Student</a>
        <table border="4" class="table table-striped table-responsive-md" >
            <thead>
                <tr>
                <th>STUDENT NAME</th>
                <th>STUDENT INSTITUTION</th>
                <th>EMAIL</th>
                <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
              <tr th:each="student:${Liststudents}">
                  <td th:text="${student.Name}"></td>
                  <td th:text="${student.Institution}"></td>
                  <td th:text="${student.Email}"></td>
                  <td > 
                      <a th:href="@{/UpdateForm/{id}(id=${student.id})}"  class="btn  btn-primary btn-sm mb-3">UPDATE</a>
                      <a th:href="@{/DeleteForm/{id}(id=${student.id})}"  class="btn  btn-danger btn-sm mb-3">DELETE</a>
                  </td>
              </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

