<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>STUDENT MANAGEMENT SYSTEM</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
                       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
                       crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
    <h1>STUDENT MANAGEMENT SYSTEM</h1>
    <hr>
    <h2>UPDATE STUDENT</h2>
    <form action="#"  th:action= "@{/saveStudent}" th:object= "${student}" method="post">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{Name}"  class="form-control mb-4 col-4">
        <input type="text" th:field="*{Institution}"  class="form-control mb-4 col-4">
        <input type="text" th:field="*{Email}"  class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> UPDATE STUDENT</button>
    </form>
<hr>
<a th:href="@{/}" class="btn  btn-primary btn-sm mb-3"> HOME PAGE</a>
    </div>
</body>
</html>